[is='blockquote'] {
  font-family: lyon;
  display: flex;

  [is='icon'] {
    flex-shrink: 0;
    width: 50px;
    margin-right: 30px;
  }

  .content {
    flex-grow: 1;
    text-align: left;
  }
}
