:root {
  --fly-in-width: 45vw;
  --fly-in-width-collapsed: 3.5vw;
  --fly-in-offset-right: 0;
}

$shadow: -3px 0px 20px 5px rgba(0.4, 0.4, 0.4, 0.3);

[is='fly-in'] {
  z-index: 100;
  display: inline-block;
  width: var(--fly-in-width-collapsed);
  position: fixed;
  top: 0;
  right: var(--fly-in-offset-right);
  // overflow-x: clip;
  // overflow-y: clip;
  height: 100vh;

  background-color: white;

  animation-duration: 0.5s;
  box-shadow: $shadow;

  .content-wrapper {
    width: var(--fly-in-width);
    height: 100%;
  }

  &.preload {
    animation: none !important;
  }

  &.open {
    width: var(--fly-in-width);
    box-shadow: $shadow;

    animation-name: slidein;

    .fly-in-open {
      display: initial;
    }

    .fly-in-closed {
      display: none;
    }
  }

  &.closed {
    animation-name: slideout;

    .fly-in-open {
      display: none;
    }

    .fly-in-closed {
      display: initial;
    }

    .content-wrapper {
      width: var(--fly-in-width-collapsed);
    }
  }
}

@keyframes slidein {
  0% {
    width: var(--fly-in-width-collapsed);
  }

  100% {
    width: var(--fly-in-width);
  }
}

@keyframes slideout {
  0% {
    width: var(--fly-in-width);
  }

  100% {
    width: var(--fly-in-width-collapsed);
  }
}
