dfk-input, [is='dfk-input'] {
  display: block;

  label {
    font-family: $sans-serif;
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #8c8d8f;
    font-size: 16px;
    font-family: $sans-serif;
  }

  &[type='checkbox'] {
    display: flex;
    justify-content: space-between;
    align-items: start;

    input {
      margin-top: 4px;
      margin-left: 20px;
      margin-right: -2px;
      width: 20px;
    }
  }

  &[type='text'] {
    input {
      padding: 7px;
    }
  }
}