pagination, [is='pagination'] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  font-family: $sans-serif;
  user-select: none;

  [is='icon'] {
    position: relative;
    height: 16px;
    width: 16px;
    margin: 2px;

    .cls-1 {
      fill: #8d8d8d;
    }
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 15px;

    text-decoration: none;

    &:hover {
      color: #000;
    }

    span:first-child {
      margin-right: 10px;
    }

    span:last-child {
      margin-left: 10px;
    }
  }

  a.first {
    margin-left: 0;
    margin-right: 0px;
  }

  a.last {
    margin-left: 0px;
    margin-right: 0;
  }

  a.previous {
    margin-left: 15px;
    margin-right: 30px
  }

  a.next {
    margin-left: 30px;
    margin-right: 15px;
  }
  
  svg {
    fill: $active-gray;
  }
}
