range-control, [is='range-control'] {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;

  .graph {
    flex-grow: 1;
    overflow: clip;
    overflow-x: visible;

    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      overflow: visible;

      rect {
        transition:
          height 0.5s ease-out,
          y 0.5s ease-out;
      }

      circle {
        cursor: pointer;
      }
    }
  }

  .literals {
    display: flex;
    justify-content: space-between;
    font-family: $serif;
    font-size: 16px;
  }
}
