routed-modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: scroll;
  background-color: #ffffff;
  z-index: 600;
  
  &[active] {
    display: block;
  }
}
