<blockquote>
  <div class="icon">
    <dfk-widget is="icon" type="quotes" />
  </div>
  <div class="content">
    <slot />
  </div>

  <script>
    import Icon from './icon.riot'

    export default class {
      static components = {
        Icon
      }
    }
  </script>
</blockquote>
