<wikidata-loading class="d-flex flex-column align-items-center">
  <template if={!props.ready}>
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="mt-3">loading database ...</div>
  </template>
</wikidata-loading>
