<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    
    <title>Widget Demo Page</title>

    <link
      rel="icon"
      href="https://dfk-paris.org/themes/dfk/favicons/favicon-96x96.png"
      type="image/png"
    />
  </head>
  <body>
    <dfk-widget is="demo"></dfk-widget>
  </body>
</html>
