@use "sass:color";
@use 'variables' as v;

button {
  border: 0;
  padding: 5px 15px;
  color: white;
  cursor: pointer;

  &.large {
    padding: 15px 30px;
    font-weight: bold;
  }

  &.default {
    background-color: v.$header-green;
  }

  &.default:hover {
    background-color: color.adjust(v.$header-green, $lightness: -10%);
  }

  &.yellow {
    background-color: #E3CD35;
  }

  &.yellow:hover {
    background-color: color.adjust(#E3CD35, $lightness: -10%);
  }

  &.green {
    background-color: #B3BA32;
  }

  &.green:hover {
    background-color: color.adjust(#B3BA32, $lightness: -10%);
  }

  &.light {
    background-color: #C4DFE7;
    color: #3e3e3e;
  }

  &.light:hover {
    background-color: color.adjust(#C4DFE7, $lightness: -10%);
  }
}
