@font-face {
  font-family: 'cera-pro';
  src: url('https://static.dfkg.org/frontend/CeraPRO-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'cera-pro';
  font-weight: 401 700;
  src: url('https://static.dfkg.org/frontend/CeraPRO-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'lyon';
  src: url('https://static.dfkg.org/frontend/LyonText-Regular-Web.woff') format('woff');
}

@font-face {
  font-family: 'lyon';
  font-style: italic;
  src: url('https://static.dfkg.org/frontend/LyonText-RegularItalic-Web.woff') format('woff');
}

html {
  margin: 0;
  font-size: 16px;
  color: $text-color;
}

body {
  margin: 0;
  font-family: $sans-serif;
  line-height: calc(24 / 18 * 1em);
  padding-left: 60px;
  padding-right: 120px;
}

a {
  color: $text-color;
  text-decoration: underline;
  cursor: pointer;
}
