@import 'fonts.scss';

// h1 {
//   font-family: $serif;
//   font-size: 44px;
//   color: $header-green;
//   font-weight: normal;
//   margin: {
//     top: 100px;
//     bottom: 50px;
//   };
// }

// * {
//   box-sizing: border-box;
// }

html {
  margin: 0;
  font-size: 16px;
  color: $text-color;
}

body {
  margin: 0;
  font-family: $sans-serif;
  line-height: calc(24 / 18 * 1em);
  padding-left: 60px;
  padding-right: 120px;
  // margin-right: 120px;
}

// h2 {
//   font-family: $serif;
//   font-size: 44px;
//   color: $header-green;
//   font-weight: normal;
//   margin: {
//     top: 40px;
//     bottom: 60px;
//   };
// }

a {
  color: $text-color;
  text-decoration: underline;
  cursor: pointer;
}

// [is='dfkv-watchlist-trigger'] {
//   margin-right: 185px;
// }
