@font-face {
  font-family: 'cera-pro';
  src: url('fonts/CeraPRO-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'cera-pro';
  font-weight: 401 700;
  src: url('fonts/CeraPRO-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'lyon';
  src: url('fonts/LyonText-Regular-Web.woff') format('woff');
}

@font-face {
  font-family: 'lyon';
  font-style: italic;
  src: url('fonts/LyonText-RegularItalic-Web.woff') format('woff');
}
