@use 'variables' as v;

.dfk-serif {
  font-family: v.$serif !important;
}

.dfk-sans-serif {
  font-family: v.$sans-serif !important;
}

.no-select {
  user-select: none !important;
  -webkit-user-select: none !important;
}
