dfk-tabs {
  display: flex;
  justify-content: stretch;
  width: 100%;

  dfk-tab {
    display: block;
    flex-grow: 1;
    border: 1px solid gray;
    border-right-width: 0;
    transition: background-color 0.5s;

    a {
      display: block;
      transition: color 0.5s;
    }
  }

  dfk-tab:last-child {
    border-right-width: 1px;
  }

  dfk-tab.active, dfk-tab:hover {
    background-color: gray;

    a {
      color: white;
    }
  }
}
