$logo-green: #009BB5;
$dfk-green: #0074bd;
$header-green: #009bb5;
$hover-green: #D9E6D9;
$active-gray: #8D8D8D;
$tag-gray: #D8D8D8;
$serif: 'lyon';
$sans-serif: 'cera-pro', sans-serif;
$serif: 'lyon', serif;
$text-color: #1e1e1e;

